body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Transición suave al desplazarse */
    background: var(--body-bg-color);
    color: var(--text-color);
}

  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    transition: background-color 1s;
    overflow: hidden;
  }
  


  #proyectos {
    background-color: #2196F3;
  }
  
  #contacto {
    background-color: #9C27B0;
  }